.custom-indicator {
  background-color: red; /* Change the indicator color here */
  height: 4px; /* Make the indicator broader */
  width: 50%; /* Shorten the indicator */
  left: 25%; /* Center the shortened indicator */
}
/* Hide scrollbar for Chrome, Safari, and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* App.css */
.app-container {
  display: flex;
  height: 100vh;
}
::-webkit-scrollbar {
  display: none;
}
.chat-list-section {
  width: 30%;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.chat-window-section {
  width: 70%;
  overflow-y: auto;
}
